@model List<string>

@{
    ViewData["Title"] = "Pictures";
}

<h2>Pictures</h2>

<form method="post" asp-action="Pictures" enctype="multipart/form-data">
  <input type="file" name="files" multiple />
  <input type="submit" value="Upload" />
</form>

@if(Model.Count>0)
{
  foreach (var picture in Model)
  {
      <img src="@picture" />
  }
}

